main .boxes div {
  background: rgba(66, 68, 90, 0.075);
  transition: all 0.3s;
  cursor: pointer;
}

main .boxes.green div.selected {
  background: #7febc2;
}

main .boxes.blue div.selected {
  background: #7fa0eb;
}

main .boxes.red div.selected {
  background: #eb8181;
}

.selection {
  background: rgba(46, 115, 252, 0.11);
  border-radius: 0.1em;
}
